CajaBanco/Connected Services/IntegracionService1/CajaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pcedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PidCajero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarClienteResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identificador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuenta" type="tns:Cuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sexo" type="tns:eSexo" />
          <s:element minOccurs="1" maxOccurs="1" name="EstadoCivil" type="tns:eEstadoCivil" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroCuenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoCuenta" type="tns:eTipoCuenta" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaActualizacion" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eTipoCuenta">
        <s:restriction base="s:string">
          <s:enumeration value="Corriente" />
          <s:enumeration value="Compartida" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="eSexo">
        <s:restriction base="s:string">
          <s:enumeration value="Masculino" />
          <s:enumeration value="Femenino" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="eEstadoCivil">
        <s:restriction base="s:string">
          <s:enumeration value="Soltero" />
          <s:enumeration value="Casado" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Dummy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PidCajero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DummyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DummyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCliente" />
  </wsdl:message>
  <wsdl:message name="ValidarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="DummySoapIn">
    <wsdl:part name="parameters" element="tns:Dummy" />
  </wsdl:message>
  <wsdl:message name="DummySoapOut">
    <wsdl:part name="parameters" element="tns:DummyResponse" />
  </wsdl:message>
  <wsdl:portType name="CajaServiceSoap">
    <wsdl:operation name="ValidarCliente">
      <wsdl:input message="tns:ValidarClienteSoapIn" />
      <wsdl:output message="tns:ValidarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <wsdl:input message="tns:DummySoapIn" />
      <wsdl:output message="tns:DummySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CajaServiceSoap" type="tns:CajaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCliente">
      <soap:operation soapAction="http://tempuri.org/ValidarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <soap:operation soapAction="http://tempuri.org/Dummy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CajaServiceSoap12" type="tns:CajaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCliente">
      <soap12:operation soapAction="http://tempuri.org/ValidarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <soap12:operation soapAction="http://tempuri.org/Dummy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CajaService">
    <wsdl:port name="CajaServiceSoap" binding="tns:CajaServiceSoap">
      <soap:address location="https://bankingintegrator20191010051554.azurewebsites.net/CajaService.asmx" />
    </wsdl:port>
    <wsdl:port name="CajaServiceSoap12" binding="tns:CajaServiceSoap12">
      <soap12:address location="https://bankingintegrator20191010051554.azurewebsites.net/CajaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>